.home {
    background-color: #2271CD;
    color: #FFF;
    padding: 20px;
    background-image: url("../../assets/bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh; /* Ensure the background covers the full height */
}

.displayCategorie {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    gap: 20px;
    overflow-x: auto;
}

.displayCategorie::-webkit-scrollbar {
    width: 0;
}

.searchResult {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.searchResult > div {
    background: none; /* Ensure background of items doesn't disrupt the background image */
}
